.body {
  background-color: #daeb91;
}

.header {
  background-color: #4CAF50;
  color: white;
  padding: 50px 0;
  text-align: center;
}

.container {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  width: fit-content;
  background-color: #f9f9f9;
  border-radius: 8px;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #999;
  padding: 8px 12px;
  text-align: left;
}

.button_area {
  display: flex;
  justify-content: space-between;
  /* 左右に分ける */
  margin-top: 20px;
  /* 上に余白を追加（任意） */
}

.button_area button {
  background-color: #174a5c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;

}

button:hover {
  background-color: orange;
}

/* //ヘッダー要素 */

header {
  height: 80px;
}

.header_flex {
  display: flex;
  justify-content: space-between;
}

.left_header {
  width: 30%;
}

.right_header {
  width: 70%;
  display: flex;
  justify-content: end;
}

.right_header ul {
  list-style: none;
  display: flex;
}

.right_header ul li {
  margin-left: 20px;
}

.right_header ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.logout_btn {
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.auth-info,
.auth-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.auth-links a,
.logout-btn {
  color: white;
  background-color: #2980b9;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  border: none;
}

.logout-btn:hover,
.auth-links a:hover {
  background-color: #1c5980;
}